In [3]:
# Import and create a new SQLContext 
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [201]:
# Read the country CSV file into an RDD.
# Reading as text was the initial idea, but later decided to load into a pandas
cl = sc.textFile('file:///home/cloudera/Downloads/big-data-3/final-project/country-list.csv')

In [202]:
# Generates country tuples
wc = cl.map(lambda line : line.split(", "))

In [203]:
wc.count()
#words.take(5)

212

In [266]:
#cleanDF = pandas.read_csv('file:///home/cloudera/Downloads/big-data-3/final-project/tweetclean.csv')
#cleanDF

In [267]:
ccDF = pandas.read_csv('file:///home/cloudera/Downloads/big-data-3/final-project/country-list.csv')
ccDF

                      country  code
0                 Afghanistan   AFG
1                     Albania   ALB
2                     Algeria   ALG
3              American Samoa   ASA
4                     Andorra   AND
5                      Angola   ANG
6                    Anguilla   AIA
7         Antigua and Barbuda   ATG
8                   Argentina   ARG
9                     Armenia   ARM
10                      Aruba   ARU
11                  Australia   AUS
12                    Austria   AUT
13                 Azerbaijan   AZE
14                    Bahamas   BAH
15                    Bahrain   BHR
16                 Bangladesh   BAN
17                   Barbados   BRB
18                    Belarus   BLR
19                    Belgium   BEL
20                     Belize   BLZ
21                      Benin   BEN
22                    Bermuda   BER
23                     Bhutan   BHU
24                    Bolivia   BOL
25     Bosnia and Herzegovina   BIH
26                   Botswana   BOT
27                     Brazil   BRA
28     British Virgin Islands   VGB
29                     Brunei   BRU
..                        ...   ...
181                 Swaziland   SWZ
182                    Sweden   SWE
183               Switzerland   SUI
184                     Syria   SYR
185                    Tahiti   TAH
186                Tajikistan   TJK
187                  Tanzania   TAN
188                  Thailand   THA
189               Timor-Leste   TLS
190                      Togo   TOG
191                     Tonga   TGA
192       Trinidad and Tobago   TRI
193                   Tunisia   TUN
194                    Turkey   TUR
195              Turkmenistan   TKM
196  Turks and Caicos Islands   TCA
197                    Uganda   UGA
198                   Ukraine   UKR
199      United Arab Emirates   UAE
200             United States   USA
201                   Uruguay   URU
202       U.S. Virgin Islands   VIR
203                Uzbekistan   UZB
204                   Vanuatu   VAN
205                 Venezuela   VEN
206                   Vietnam   VIE
207                     Wales   WAL
208                     Yemen   YEM
209                    Zambia   ZAM
210                  Zimbabwe   ZIM

[211 rows x 2 columns]

In [6]:
# Convert each line into a pair of words
# words = country_lines.flatMap(lambda line : line.split(","))

In [268]:
wc.take(5)

[['country,code'],
 ['Afghanistan', 'AFG'],
 ['Albania', 'ALB'],
 ['Algeria', 'ALG'],
 ['American Samoa', 'ASA']]

In [ ]:
# Convert each pair of words into a tuple
#country_tuples = words.map(lambda word: (word, 1))

In [271]:
cc = countryDF.select("country").flatMap(lambda x: x).collect()
print(cc)

['country,code', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China PR', 'Chinese Taipei', 'Colombia', 'Comoros', 'Congo', 'DR Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'Northern Ireland', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Ireland', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'São Tomé and Príncipe', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Tahiti', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay', 'U.S. Virgin Islands', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Wales', 'Yemen', 'Zambia', 'Zimbabwe']

In [99]:
# Read tweets CSV file into RDD of lines
tl = sc.textFile('file:///home/cloudera/Downloads/big-data-3/final-project/mongoout.csv')
tw = tl.map(lambda line : line.split(","))

In [123]:
import pandas

#etcDF = pandas.read_csv('file:///home/cloudera/Downloads/big-data-3/final-project/tweets.csv')

tlines = sc.textFile('file:///home/cloudera/Downloads/big-data-3/final-project/tweetsonly.csv')

In [155]:
w1 = tlines.flatMap(lambda l: l.split(" "))

In [156]:
w1.take(4)

['tweet_text', 'RT', '@ochocinco:', 'I']

In [157]:
f = w1.map(lambda l: l if (l != "beat") else "XXX")

In [264]:
f.take(5)

['tweet_text', 'RT', '@ochocinco:', 'I', 'XXX']

In [160]:
# Generate tuples per word
tuples = w1.map(lambda word: (word, 1))

In [161]:
tuples.take(3)

[('tweet_text', 1), ('RT', 1), ('@ochocinco:', 1)]

In [162]:
counts = tuples.reduceByKey(lambda a, b: (a+b))

In [163]:
counts.take(10)

[('', 3896),
 ('mobile', 1),
 ('#FridayNightTouchdown', 1),
 ('Just', 44),
 ('BONUSES,', 1),
 ('like?"', 1),
 ('recieve', 1),
 ('Bellow', 1),
 ('now"', 1),
 ('https://t.co/W4QluWGyeq', 1)]

In [209]:
# Spark datafame was not compatible with pand, ended up not using
# this
tDF = sqlContext.createDataFrame(counts, ["country", "count"])
tDF.printSchema()
tDF.take(3)
tDF.sort(col("count").desc()).count()

root
 |-- country: string (nullable = true)
 |-- count: long (nullable = true)

26634

In [224]:
counts.coalesce(1).saveAsTextFile('file:///home/cloudera/Downloads/big-data-3/final-project/tweetscount.txt')

In [261]:
#right = pandas.DataFrame({'country': ['Germany', 'foo', 'bar', 'bar']})
right2 = pandas.DataFrame(counts.collect(), columns=['country', 'counts'])
#print(right2)

# Using pandas for the merge. Panda and Spark have diff dataframes
mergeDF = pandas.merge(ccDF, right2, how='inner', on='country')
mergeDF.sort_values("counts")

        country     code  counts
0       Albania      ALB       1
38      Somalia      SOM       1
32       Poland      POL       1
31         Oman      OMA       1
27        Nepal      NEP       1
7       Denmark      DEN       1
26       Mexico      MEX       1
25       Kosovo   KVX[2]       1
10       Gambia      GAM       1
42     Thailand      THA       1
20        Italy      ITA       1
13        Ghana      GHA       1
17         Iran      IRN       1
40        Sudan      SDN       2
36     Scotland      SCO       2
19       Israel      ISR       2
21      Jamaica      JAM       2
15      Iceland      ISL       2
2     Australia      AUS       2
1     Argentina      ARG       2
24        Kenya      KEN       3
34        Qatar      QAT       4
16        India      IND       4
3       Austria      AUT       5
22        Japan      JPN       5
11      Georgia      GEO       5
18         Iraq      IRQ       6
23       Jordan      JOR       6
14       Guinea      GUI       8
33     Portugal      POR       8
39        Spain      ESP       8
6          Chad      CHA       9
41  Switzerland      SUI      10
5        Canada      CAN      11
28  Netherlands      NED      13
4        Brazil      BRA      13
35       Russia      RUS      15
43        Wales      WAL      19
12      Germany      GER      20
8       England      ENG      25
37     Slovakia      SVK      30
9        France      FRA      42
29      Nigeria      NGA      49
30       Norway      NOR      52

In [262]:
words = etcDF["tweet_text"].map(lambda l: l.split(" "))

In [263]:
words.head(3)

0    [RT, @ochocinco:, I, beat, them, all, for, 10,...
1    [RT, @NiallOfficial:, @Louis_Tomlinson, @socce...
2    [RT, @GameSeek:, Follow, &, Retweet, for, your...
Name: tweet_text, dtype: object

In [ ]:
# Perform WordCount on the cleaned tweet texts. (note: this is several lines.)